version: '3.7'
services:
  # Currently the username and password need to be set manually after deployment with the following commands:
  # rabbitmqctl add_user ${username} ${password}
  # rabbitmqctl set_user_tags ${username} administrator
  # rabbitmqctl set_permissions ${username} ".*" ".*" ".*"
  rabbitmq:
    hostname: rabbitmq
    image: rabbitmq
    ports:
      - '5672:5672'
      - '5671:5671'
    networks:
      server-backend:
        aliases:
        - rabbitmq
    volumes:
      - "rabbitmq_staging_logs:/var/log/rabbitmq"
      - "rabbitmq_staging_data:/var/lib/rabbitmq"
    configs:
      - source: rabbitmq-ca-cert
        target: /etc/ssl/rabbitmq/ca_certificate.pem
      - source: rabbitmq-server-cert
        target: /etc/ssl/rabbitmq/server_certificate.pem
      - source: rabbitmq-server-key
        target: /etc/ssl/rabbitmq/server_key.pem
      - source: rabbitmq-config
        target: /etc/rabbitmq/rabbitmq.conf
    deploy:
      placement:
        constraints:
          - node.hostname == rabbitmq
      restart_policy:
        condition: on-failure
        max_attempts: 3
        window: 120s

  server:
    hostname: server
    image: naviat/server:staging
    ports:
      - '443:443'
      - '80:80'
    depends_on:
      - rabbitmq
      - mongodb
    volumes:
      - "engine_staging_certificates:/certs"
    environment:
      - TOMO_ETHEREUM_NODE_HTTP_URL=https://testnet.tomochain.com
      - TOMO_ETHEREUM_NODE_WS_URL=wss://testnet.tomochain.com/ws
      - TOMO_MONGODB_URL=mongodb
      - TOMO_MONGODB_DBNAME=tomodex
      - TOMO_MONGODB_USERNAME=${TOMO_STAGING_MONGODB_USERNAME}
      - TOMO_MONGODB_PASSWORD=${TOMO_STAGING_MONGODB_PASSWORD}
      - TOMO_MONGODB_SHARD_URL_1=tomocluster0-shard-00-00-qdjqg.mongodb.net:27017
      - TOMO_MONGODB_SHARD_URL_2=tomocluster0-shard-00-01-qdjqg.mongodb.net:27017
      - TOMO_MONGODB_SHARD_URL_3=tomocluster0-shard-00-02-qdjqg.mongodb.net:27017
      - TOMO_ENABLE_TLS=true
      - TOMO_RABBITMQ_URL=rabbitmq
      - TOMO_RABBITMQ_USERNAME=${TOMO_STAGING_RABBITMQ_USERNAME}
      - TOMO_RABBITMQ_PASSWORD=${TOMO_STAGING_RABBITMQ_PASSWORD}
      - TOMO_SERVER_CA_CERT=/etc/ssl/server/ca_certificate.pem
      - TOMO_SERVER_SERVER_CERT=/etc/ssl/server/server_certificate.pem
      - TOMO_SERVER_SERVER_KEY=/etc/ssl/server/server_key.pem
      - TOMO_RABBITMQ_CLIENT_KEY=/etc/ssl/rabbitmq/client_key.pem
      - TOMO_RABBITMQ_CLIENT_CERT=/etc/ssl/rabbitmq/client_certificate.pem
    configs:
      - source: server-ca-cert
        target: /etc/ssl/server/ca_certificate.pem
      - source: server-server-cert
        target: /etc/ssl/server/server_certificate.pem
      - source: server-server-key
        target: /etc/ssl/server/server_key.pem
      - source: rabbitmq-client-cert
        target: /etc/ssl/rabbitmq/client_certificate.pem
      - source: rabbitmq-client-key
        target: /etc/ssl/rabbitmq/client_key.pem

    networks:
      server-backend:
        aliases:
        - server
    deploy:
      placement:
        constraints:
          - node.hostname == server
      restart_policy:
        condition: on-failure
        max_attempts: 3
        window: 120s

networks:
  server-backend:
    external: true

configs:
  server-ca-cert:
    name: server-ca-cert-${STAGING_CONFIG_VERSION:-0}
    external: true
  server-server-cert:
    name: server-server-cert-${STAGING_CONFIG_VERSION:-0}
    external: true
  server-server-key:
    name: server-server-key-${STAGING_CONFIG_VERSION:-0}
    external: true
  rabbitmq-client-cert:
    name: rabbitmq-client-cert-${STAGING_CONFIG_VERSION:-0}
    external: true
  rabbitmq-client-key:
    name: rabbitmq-client-key-${STAGING_CONFIG_VERSION:-0}
    external: true
  rabbitmq-ca-cert:
    name: rabbitmq-ca-cert-${STAGING_CONFIG_VERSION:-0}
    external: true
  rabbitmq-server-cert:
    name: rabbitmq-server-cert-${STAGING_CONFIG_VERSION:-0}
    external: true
  rabbitmq-server-key:
    name: rabbitmq-server-key-${STAGING_CONFIG_VERSION:-0}
    external: true
  rabbitmq-config:
    name: rabbitmq-config-${STAGING_CONFIG_VERSION:-0}
    external: true

volumes:
  rabbitmq_staging_logs:
  rabbitmq_staging_data:
  engine_staging_certificates:
  client_staging_certificates: